<div class="row">
  <div class="col s8 offset-s2">
    
    <h4 class="center-align">Editing "<%= @wiki.title %>"</h4>
    
    <%= form_for [@wiki] do |f| %>
    
      <div class="field">
        <%= f.label :title, autofocus: true %>
        <%= f.text_field :title %>
      </div><br />
    
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 20, class: 'materialize-textarea' %>
      </div><br />
      
      <div class="field center-align">
        <%= f.submit "Save", class: 'btn grey darken-1' %>
      </div>
    
    <% end %>
    
  </div>
</div>
