<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <!--Import materialize.css-->
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>

  <body>
    
    <div class="container">
      <nav>
        <div class="nav-wrapper light-blue">
          &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Blocipedia", root_path, class: 'center-align' %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if current_user %>
              <li><%= link_to "Browse Wiki's", wikis_path %></li>
              <li><%= link_to "My Wiki's", root_path %></li>
              <li><%= link_to "User Profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Browse Wiki's", wikis_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </nav><br />  
      
      <% if flash[:notice] %>
        <script>
          Materialize.toast('<%= flash[:notice] %>', 2000, 'green');
        </script>
      <% elsif flash[:error] %>
        <script>
          Materialize.toast('<%= flash[:error] %>', 3000, 'red');
        </script>
      <% elsif flash[:alert] %>
        <script>
          Materialize.toast('<%= flash[:alert] %>', 3000, 'orange');
        </script>
      <% end %>
    
      <%= yield %>
      
    </div>    
  </body>
</html>
